@import "tailwindcss";
@import "@fontsource/cinzel/400.css";
@import "@fontsource/cinzel/700.css";
@import "@fontsource/cinzel/900.css";

/* Custom Component CSS */
@import "./css/clouds.css";
@import "./css/birds.css";

@theme {
    --color-hp-yellow: var(--hp-yellow);
    --color-hp-gray: var(--hp-gray);
    --color-hp-darkgray: var(--hp-darkgray);
    --color-hp-royal: var(--hp-royal);
    --color-hp-blue: var(--hp-blue);
    --color-hp-ivory: var(--hp-ivory);

    --text-shadow-yellow:0 0 15px rgba(225,162,55,1);
    --inset-shadow-innershadow: 0 0 5px rgba(0,0,0,0.25);

    --text-shadow-sectiontitle: 0 4px 4px rgba(0,0,0,0.25);
    --text-inset-shadow-sectiontitle: 2px 2px 0 rgba(21,16,5,1);
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Cinzel', serif;
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --hp-yellow: #DFAA38;
  --hp-gray: #7C868C;
  --hp-darkgray: #3A464D;
  --hp-royal: #041119;
  --hp-blue: #1C7AA2;
  --hp-ivory: #E1CBA5;

}

